 	  html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
	  h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
	  ul,ol {list-style:none;}
	  fieldset,img,hr {border:none;}
	  caption,th {text-align:left;}
	  table {border-collapse:collapse; border-spacing:0;}
	  td {vertical-align:top;}

	  
	  html,body {
      height:100%;
      width:100%;
      padding:0;
	  margin:0;
	  overflow:hidden;
      }

	  td{
	  padding:0;
	  }

      body {
      background-color:#fff;
      color:#444;
      font-size:14px;
      overflow:hidden;
      font-family:sans-serif;
      }

      a {
      color:#555;
	  font-weight:bold;
	  text-decoration:none;
      }

	  a:hover{
	  text-decoration:underline;
	  }

      #header {
      height:115px;
      background:#3f4533;
	  color:#fff;
	  border-bottom: 3px solid #7d8965;
      }

      #headerText{
	  padding-top:20px;
      padding-left:25px;
	  width:70%;
	  float:left;
	  }

      #title {
	  font-family:sans-serif;
      font-size:28px;
	  font-weight:bold;
	  color: #eae8d8;
      text-align:left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
      }

      #subtitle {
	  font-family: sans-serif;
      font-size:14px;
	  color:#eae8d8;
	  margin-top:10px;
	  height:50px;
      overflow: hidden;
      }

	  #logoArea{
	  float:right;
	  padding-top:5px;
	  padding-right:5px;
	  text-align:right;
	  }

	  #social{
	  margin-bottom:20px;
	  }

	  #msLink{
	  color:#fff;
	  font-family:sans-serif;
	  font-weight:bold;
	  font-size:13px;
	  outline:none;
	  }

	  #logo{
	  float: right;
	  width: 110px;
	  height: 115px;
	  border:none;
	  outline:none;
	  background: url(../images/IDFGlogo_green.png) left no-repeat;
	  }
	  
	  #logoImg{
	  border:none;
	  outline:none;
	  }

      #leftPane {
	  position:relative;
      background-color:#f5f5ed;
      width:340px;
      margin:0;
      padding:0;
      }

	  #storyTabs{
	  background-color:#f5f5ed;
	  width:100%;
	  height:35%;
	  border-bottom:5px solid #444;
	  overflow:auto;
	  }

	  #tabs{
	  width:100%;
	  height:40px;
	  background-color:#848484;
	  padding:0;
      overflow:auto;
	  }

	  .tab{
	  background:#666;
	  font-family:sans-serif;
	  color:#dadada;
	  font-size:15px;
	  padding:5px;
	  height:20px;
	  width:132px;
	  float:left;
	  margin:5px 0px 0px 5px;
	  white-space: nowrap;
      overflow: auto;
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
	  cursor:pointer;
	  }

	  .tab:hover{
	  color:#444;
	  background-color:#dadada;
	  }
	  
	  #storyPoints{
	  width:100%;
	  height:65%;
	  border-bottom:5px solid #444;
	  overflow:auto;
	  }
	  

	  #description{
	  font-family: sans-serif;
	  font-size: 14px;
	  text-align: left;
	  padding:15px;
	  overflow:auto;
	  }

	  .selectedStory{
	  height:35px;
	  color:#444;
	  background-color:#dadada;
	  }

	  .story{
	  display:none;
	  width:100%;
	  height:100%;
	  }

	  #story0{
	  display:block;
	  }
	  
	  #story0group0pointIndex0 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex1 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex2 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex3 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex4 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex5 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex6 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex7 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex8 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex9 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex10 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex11 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex12 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex13 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex14 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex15 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex16 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex17 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex18{
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex19 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex20 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex21 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex22 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex23 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex24 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex25 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex26 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex27 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex28 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex29 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex30 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex31 {
	  height: 38px;
	  width: 30px;
	  }
	  #story0group0pointIndex32 {
	  height: 38px;
	  width: 30px;
	  }
	 
	  
	  .storyPoint{
	  position:relative;
	  width:100%;
	  height:80px;
	  font-family:sans-serif;
	  font-size: 14px;
	  text-align: left;
	  cursor:pointer;
	  overflow:hidden;
	  border-bottom:1px solid #dadada;
	  }

	  .active{
	  background-color:#7d8965;
	  }

      .selection{
      background:#7d8965;
	  color:#fff;
	  }

	  .indexCon{
	  position:absolute;
	  top:5px;
	  left:10px;
	  }

	  .pointIndex{
	  display:table-cell;
	  vertical-align:middle;
	  text-align:center;
	  height:28px;
	  width:22px;
	  }

	  .imgCon{
	  position:absolute;
	  top:5px;
	  left:37px;
	  }

	  .spImg{
	  height:70px;
	  width:70px;
	  }

	  .textCon{
	  position:absolute;
	  left:112px;
	  top:5px;
	  width:163px;
	  height:70px;
	  }

	  .titleText{
	  width:100%;
	  height:32px;
	  margin-top:19px;
	  font-size:13px;
	  font-weight:bold;
	  word-break:hyphenate;
	  overflow:hidden;
	  }

      #map {
      margin:0;
	  background-color:#fff;
      }
	  
	  
	  

	  #hoverInfo{
	  position:absolute;
	  padding:5px;
	  max-width:200px;
	  background-color:#7d8965;
	  border:#3f4533 solid 1px;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  -moz-box-shadow: 2px 2px 10px #333;
	  -webkit-box-shadow: 2px 2px 10px #333;
	  box-shadow: 2px 2px 10px #333;
	  filter: progid: DXImageTransform.Microsoft.Shadow(strength = 2, direction = 135, color = '#333333');
	  -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#333333')";
	  overflow:hidden;
	  display:none;
	  z-index:100;
	  }
	  
	  #legendCon{
	  position:absolute;
 	  width:240px !important;
	  margin-left:100px;
  	  z-index:100;
	  }

	  #legendDiv{
	  display:none;
	  max-height:450px;
	  overflow:auto;
	  padding:10px;
	  font-family:sans-serif;
    background:#7D8965;
    color: #fff;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
	  }

	  .legendDiv{
	  display:none;
	  }

	  #legendToggle{
	  position:relative;
	  background:#7D8965;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
	  margin-top:-1px;
	  width:128px;
	  .height:28px;
	  cursor:pointer;
	  z-index:100;
	  color:#fff;
	  font-family:sans-serif;
	  }

	  #legTogText{
	  position:relative;
	  margin:auto;
	  margin-left:2px;
	  .margin-top:0px;
	  padding:5px;
	  color:#fff;
	  font-family:sans-serif;
	  }

	  .mapDiv{
	  position:absolute;
	  height:100%;
	  width:100%;
	  top:0;
	  }
	  
	  .esriSimpleSliderIncrementButton {
	  background-color:#fff;
	  -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
	  }
	  
	  .esriSimpleSliderDecrementButton {
	  background-color:#fff;
	  -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
	  }
	  
	  

	  #mapBlind{
	  position:absolute;
	  top:0;
	  width:100%;
	  height:100%;
	  z-index:100;
	  background-color:#fff;
	  }

	  #loadingCon{
	  position:absolute;
	  z-index:99;
	  width:100%;
      top:40%;
	  text-align:center;
	  }

	  #loadingDialog{
	  margin:auto;
	  background-color:#7d8965;
	  width:300px
	  }

	  #loadingHeader{
	  background-color:#3f4533;
	  color:#7d8965;
	  padding-top:10px;
	  padding-bottom:10px;
	  width:300px;
	  }

	  #loading{
	  padding-top:10px;
	  }

	  #loadingImg{
	  margin-top:5px;
	  padding-bottom:10px;
	  }

	  #timeSliderDivCon{
	  margin-top:105px;
	  }

	  .dijitRuleMark{
	  border:1px solid #dadada;
	  }

	  .tundra .dijitSplitContainer-dijitContentPane, .tundra .dijitBorderContainer-dijitContentPane{
	  background:none;
	  }

	  .tundra .dijitSplitContainer-child, .tundra .dijitBorderContainer-child{
	  border:none;
	  }

	  .tundra .dijitSplitterH, .tundra .dijitGutterH{
	  background:none;
	  }